<h1>{{title}}</h1>
<h1>{{title | uppercase}}</h1>
<h1>{{title | lowercase}}</h1>
<br><br>
<h1>{{count}}</h1>
<h1>{{count | number}}</h1>
<h1>{{count | number: '1.1-1'}}</h1>
<h1>{{count | currency}}</h1>
<h1>{{count | currency: "EUR"}}</h1>
<h1>{{count | currency: "EUR": false}}</h1>
<h1>{{count | percent}}</h1>
<h1>{{count | percent:'1.1-1'}}</h1>
<br><br>
<h1>{{date}}</h1>
<h1>{{date | date}}</h1>
<h1>{{date | date : 'short'}}</h1>
<h1>{{date | date : 'shortDate'}}</h1>
<h1>{{date | date : 'long'}}</h1>
<br><br>
<p>{{objArray}}</p>
<p>{{objArray | json}}</p>
<br><br>
<h3>{{postArray}}</h3>
<h3>{{postArray | slice:0:3}}</h3>
<h3>{{postArray | slice:2:4}}</h3>
<br><br>
<h3>{{userDetails.city}}</h3>
<h3>{{userDetails.city | append}}</h3>
<h3>{{userDetails.city | appendCLI}}</h3>
<br><br>
<p>{{dummy}}</p>
<p>{{dummy | summary}}</p> <!-- Default is 20 -->
<p>{{dummy | summary: 10}}</p>
<p>{{dummy | summary: 50}}</p>
